@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.radix-themes {
  display: grid;
  grid-template-columns: 1fr 2fr 6fr 2fr 1fr;
  grid-template-rows: 1fr 14fr;

  /* grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 14fr; */
}

/* Nav Bar Stuff */

#navBar {
  grid-area: 1 / 1 / 2 / 6;
  background-color: #957dad;
}
